<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harman Students</title>
</head>
<body>
    <h1>Registration</h1>
    <body>
        <h1>Student MAnagement Registration</h1>
        <div class="conatainer container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
        <form action="" method="post">
            <table >
                <tr>
                    <td>Student name</td>
                    <td ><input  name="name" type="text"></td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td> <input name="Phoneno" type="text"></td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td ><input name="username"  type="text"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td ><input name="email"  type="email"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td ><input name="password" type="text"></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td ><input name="cpassword"  type="text"></td>
                </tr>
                <tr>
            
        </form>
        
    </body>
            <td></td>
            <td><button class="btn btn-success"type="Submit" >Submit</button></td>
        </tr>
        <tr>
            <td></td>
            <td ><a href="/login"> Already have an account</a>  </td>
        </tr>
            
    </table>
</body>
</html>